.h2 {
    font-size: 72px;
}
.nav-link {
    color: #9F2476;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 14px;
}
.nav-item {
    margin-left: 58px;
}

h3 {
    font-family: 'Montserrat', 'sans-serif';
}

p {
    color: #9F2476;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 8px;
    /* font-size: 12px; maybe use this size for media query? */
}

li {
    color: #9F2476;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #461134;
    font-size: 24px;
}

h4 {
    line-height: 24px;
    color: #9F2476;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h5 {
    color: #461134;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

 {


}

/* @media screen and (max-width: 600px)
    .nav-link 
     */

.section {
    height: 45vh;
    padding: 5% 10% 10% 10%;
    }
.bright {
    background:white;
    }